name: Docker Push

on:
  push:
    branches: [ "main" ]
    # Dispara em tags
    tags: [ 'v*.*.*' ]
  # Permite rodar manualmente na aba 'Actions' do GitHub
  workflow_dispatch:

env:
  # Defina o nome da imagem aqui (ex: esdrascaleb/moodle-php-production)
  IMAGE_NAME: esdrascaleb/moodle-php-production

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log into Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_NAME }}
          tags: |
            # Gera 'latest' se for a branch main
            type=raw,value=latest,enable={{is_default_branch}}
            # Gera a versão (ex: 1.0.0) se for uma tag git
            type=semver,pattern={{version}}

      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          # Passar argumentos de build se necessário (opcional)
          build-args: |
            MOODLE_VERSION=MOODLE_402_STABLE