name: Docker Push (Multi-PHP & Multi-OS)

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

env:
  IMAGE_NAME: esdrascaleb/moodle-docker-php-production

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-version: ['8.1', '8.2', '8.3', '8.4']
        os-type: ['complete', 'minimal']

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log into Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_NAME }}
          # Organização das tags conforme solicitado
          tags: |
            # Tags para versão Complete (Debian)
            type=raw,value=complete-php${{ matrix.php-version }},enable=${{ matrix.os-type == 'complete' }}
            
            # Tags para versão Minimal (Alpine)
            type=raw,value=minimal-php${{ matrix.php-version }},enable=${{ matrix.os-type == 'minimal' }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          # Define qual Dockerfile usar
          file: ${{ matrix.os-type == 'minimal' && './DockerfileAlpine' || './Dockerfile' }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            PHP_VERSION=${{ matrix.php-version }}